body{
	text-align: center;
	background-color: #323434;
}
header{
	height: 100px;
	background: #323434;
	width: 100%;
	top:0px;
	z-index: 10;
	position: fixed;
	text-align: right;
	bottom: 20;
	left:0px;
}
h1{
	color: white;
	text-align: left; 
}

#container #book_taxi{
	 height: 100%;
}

#container #book_taxi a{
	font-family: arial;
	font-size: 40px;
	text-decoration:none;
	color: black;
}
#container #nav a{
	color: #FFF;
	font-size: 30px;
	align-self: right;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
    bottom: 140px; /* This will move it 20px down */
    right: 15px;

}
#container #nav a:hover{
	color: yellow;
}

a{
	color: white;
	text-decoration: none;
	font-size:25;
	margin:5px;
}
a:hover{
	color: yellow;
	text-decoration: underline;
	font-size: 25;
}

#container #offers{
	height: 620px;
	width:90%;
	background-color: #323434;
	position: relative;
	bottom:-350px;
	left:80px;

}

#footer{
	height:300px;
	background-color: #74716e;
	position: relative;
	bottom:-180px;
	border: 2px solid black;
	text-align: left;
}

#footer #menu{
	height: 296px;
	margin :2px;
	width:33%;
	background-color: #74716e;
	float:left;
}
#footer #contact{
	height: 296px;
	margin :2px;
	width:33%;
	background-color: #74716e;
	float:left;
	
}

h2{
	font-family: helvetica;
	font-size: 20;
	color: #BFBF07;
	position: relative;
	top:-60px;
}

#footer #social{
	height:146px;
	margin:2px;
	width:33%;
	background-color: #74716e;
	float:right;
	position:relative;
	
}
 
#footer #quality{
	height:146px;
	margin:2px;
	width: 33%;
	background-color: #74716e;
	float: right;
	position: relative;
}

#container #content a{
	color: red;
	text-decoration:none;
	font-family: helvetica;
	font-size:30px;
}

#container #content b{
	color: black;
	text-decoration:none;
	font-family: helvetica;
	font-size:20px;
}
#container #content #account_details #details a{
	color: black;
	text-decoration:none;
	font-family: arial black;
	font-size:25px;
	
}

#container #content td{
	padding-right: 100px;
}

#container #content #update a{
	color: black;
	text-decoration:none;
	font-family: arial black;
	font-size:25px;
	
}


#container{
    width:85%;
    background-color: white;
    position: relative;
    left:21.05%;
    top:60px;
    
}
#menu{
    width: 20%;
    height: 70%;
    top:10px;
    left:-10px;
    background-color: #323434;
}

#menu #menu_option{
    background-color: #323434;
    position: relative;
    top:50px;
    height: 100%;
}

#menu a{
    color: white;
    text-align: center;
    padding-left: 30px;
    text-decoration: none;
    font-family: helvetica;
    font-size:20;
}

#menu a:hover{
    color: red;
}

#menu #avatar{
    position: relative;
    top:60px;
    left:-50px;
}

#menu #checkout{
    position: relative;
    top:-180px;
}
