label {
   font-family:Arial, Helvetica, sans-serif;
   font-size:14px;
   font-weight:bold;
   width:100px;
   font-size:14px;
}
.box {
border:#666666 solid 1px;
}

header{
   height: 100px;
   background: #323434;
   width: 100%;
   top:0px;
   z-index: 10;
   position: fixed;
   text-align: right;
   bottom: 20;
   left:0px;
   overflow: hidden;
}
h1{
   color: white;
   text-align: left; 
}

#nav a{
   color: #FFF;
   font-size: 30px;
   align-self: right;
   text-decoration: none;
   padding-top: 5px;
   padding-bottom: 6px;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
    bottom: 140px; /* This will move it 20px down */
    right: 15px;

}
#nav a:hover{
   color: yellow;
}

a{
   color: white;
   text-decoration: none;
   font-size:25;
   margin:5px;
}
a:hover{
   color: yellow;
   text-decoration: underline;
   font-size: 25;
}

#form_box{
   width:300px;
   height: 230px;
   border: solid 1px #333333;
   margin: 30px;
   position: fixed;
   top:50px;
   left:100px;
   zoom:250%;
}